@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@media screen and (max-width: 640px) {
  .nav-link:hover {
    color: white;
    background-color: transparent;
  }
  .navbar {
    background-color: rgb(0, 0, 0);
  }
}
@media screen and (max-width: 640px) {
  .carrusel_img {
    padding-top: 60px;
  }
  .carrusel_img .carousel .carru .carru_text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
  }
  .carrusel_img .carousel .carru .carru_text .texto {
    font-size: 30px;
  }
}
@media screen and (max-width: 640px) {
  .tarjeta:not(:first-child) {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .sedes iframe {
    max-width: 350px;
  }
}
@media screen and (max-width: 640px) {
  .nosotros iframe {
    max-width: 400px;
  }
}
.formu h2, .sedes h2, .clases h2, .promos h2 {
  text-align: center;
  padding-bottom: 20px;
}

/* barra de navegacion bootstrap modificada*/
.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
}
.navbar img {
  height: 35px;
}
.navbar .nav-item {
  padding-left: 20px;
}
.navbar .nav-link {
  color: rgb(205, 253, 11);
  border-radius: 40%;
  transition: all 1s ease;
  font-weight: 100;
}
.navbar .nav-link:hover {
  color: black;
  background-color: rgb(205, 253, 11);
}
.navbar .custom-toggler {
  border-color: rgb(205, 253, 11);
}

/*seccion carrusel de imagenes modificada con bootstrap*/
.carrusel_img {
  margin-top: 0px;
}
.carrusel_img .carru {
  position: relative;
  width: 100%;
}
.carrusel_img .carru .carru_text {
  position: absolute;
  z-index: 1;
  padding-top: 100px;
}
.carrusel_img .carru .carru_text .texto {
  color: rgb(205, 253, 11);
  font-size: 75px;
  width: 60%;
  padding-left: 15%;
}
.carrusel_img .carru .carru_text .boton_carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 30px;
  border-color: rgb(205, 253, 11);
  color: rgb(205, 253, 11);
  margin: 20px 15%;
}
.carrusel_img .carru .carru_text .boton_carrusel a {
  text-decoration: none;
  color: rgb(205, 253, 11);
}
.carrusel_img .carru .carru_text .boton_carrusel:hover {
  background-color: rgb(205, 253, 11);
}
.carrusel_img .carru .carru_text .boton_carrusel:hover a {
  color: rgb(0, 0, 0);
}

/* seccion de promos*/
.promos {
  padding: 65px;
  text-align: center;
  padding-bottom: 50px;
}
.promos .card {
  margin: 5px;
}
.promos .card .img {
  padding: 20px;
  font-weight: bold;
}
.promos .card .card-body {
  text-align: center;
}
.promos .card .card-body .card-title {
  font-weight: bold;
}
.promos h3 {
  text-align: center;
  color: rgb(205, 253, 11);
  padding: 30px;
}

.clase-prueba {
  height: 350px;
  margin-bottom: 60px;
}
.clase-prueba .logo-big {
  height: 400px;
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  background-image: url(/multimedia/img/mancuerna-01.jpg);
}
.clase-prueba .logo-big img {
  height: 300px;
}
.clase-prueba .clase-gratis {
  background-color: rgb(205, 253, 11);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.clase-prueba .clase-gratis h3 {
  color: rgb(0, 0, 0);
  font-weight: bold;
  width: 80%;
  text-align: center;
}
.clase-prueba .clase-gratis .inscrip {
  width: 35%;
  height: 10%;
  border-radius: 20px;
  background-color: transparent;
}
.clase-prueba .clase-gratis .inscrip a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: smaller;
}

/*seccion clases*/
.clases {
  padding: 65px;
  text-align: center;
  padding-bottom: 30px;
}
.clases .cards_wraper {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.clases h3 {
  color: rgb(205, 253, 11);
  padding-top: 30px;
}

.card {
  width: 1fr;
  border-color: rgb(205, 253, 11);
  transition: all 0.5s ease;
}
.card:hover {
  transform: scale(1.1);
  z-index: 2;
}

/*seccion de sedes*/
.sedes {
  padding: 65px;
  text-align: center;
}
.sedes h2 {
  padding-top: 20px;
  width: 100%;
}
.sedes iframe {
  height: 300px;
  width: 400px;
}
.sedes .mb-3 .card-body .card-text {
  padding: 30px;
  text-align: left;
}
.sedes .noti {
  height: 100%;
  pointer-events: none;
}
.sedes .noti .card-body {
  height: 100%;
}
.sedes .noti .card-body .card-title {
  padding: 0px 20px;
}
.sedes .noti .card-body .card-text {
  padding: 15px 20px;
  text-align: left;
}

/*seccion nosotros*/
.nosotros {
  padding-top: 65px;
  text-align: center;
}
.nosotros h2 {
  text-align: center;
  font-size: 30px;
  padding: 10px 0px;
  width: 100%;
}
.nosotros .clase-prueba {
  margin: 30px auto;
}
.nosotros .clase-prueba .logo-big {
  background-image: url(/multimedia/img/instalaciones-01.jpg);
}
.nosotros .clase-prueba .logo-big h3 {
  color: rgb(205, 253, 11);
  font-size: 85px;
  text-align: left;
  padding: 30px;
  font-weight: 300;
}
.nosotros .clase-prueba .clase-gratis {
  display: flex;
  justify-content: center;
}
.nosotros .clase-prueba .clase-gratis h3 {
  font-size: xx-large;
}
.nosotros .clase-prueba .clase-gratis p {
  padding: 35px;
}
.nosotros .somos {
  margin: 30px auto;
}
.nosotros .somos iframe {
  padding: 40px;
  height: 315px;
}
.nosotros .valores {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.nosotros .valores .valores-item {
  border: 1px solid rgb(205, 253, 11);
  width: 1fr;
  height: auto;
}
.nosotros .valores .valores-item h4 {
  padding: 10px;
}
.nosotros .valores .valores-item p {
  text-align: left;
}

/* contacto*/
.formu {
  padding: 30px;
}
body {
  font-family: "Barlow Condensed", sans-serif;
}

/*seccion footer*/
footer {
  height: 200px;
  background-color: rgb(205, 253, 11);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footy {
  display: flex;
  justify-content: space-around;
}
footer .footy .foot ul {
  list-style: none;
}
footer .footy .foot-logo img {
  height: 120px;
}

/*# sourceMappingURL=style.css.map */
