@import './fonts';
@import './variables';
@import './components/medias';
@import './base/extends';
@import './base/maps';
@import './base/mixins';





@import './components/header';
@import './components/carrusel';
@import './components/promos';
@import './components/clases';
@import './components/sedes';
@import './components/nosotros';
@import './components/contacto';
@import './components/merchandising';

body {
    font-family: $main-font;
}



/*seccion footer*/

footer {
    height: 200px;
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .footy {
        display:flex;
        justify-content: space-around;

        .foot {
            ul{
            list-style: none;
                li {
                    a {
                    text-decoration: none;
                    color: $sec-color;
                    }
                }
            }
        }

        .foot-logo {
            img {
            height: 120px;
            }
        }
    }

    
}









