/*seccion carrusel de imagenes modificada con bootstrap*/

.carrusel_img {
    margin-top: 0px;

    .carru {
        position: relative;
        width: 100%;

        .carru_text {
            position: absolute;
            z-index: 1;
            padding-top: 100px;

            .texto {
                color: $main-color;
                font-size: 75px;
                width: 60%;
                padding-left: 15%;
            }

            .boton_carrusel {
                display: flex;
                justify-content: center;
                align-items: center;
                width: auto;
                height: 30px;
                border-color: $main-color;
                color: $main-color;
                margin: 20px 15%;

                a {
                    text-decoration: none;
                    color:$main-color;

                   
                }

                &:hover {
                    background-color: $main-color;
                    a {
                    color: $sec-color;
                    }

                }
            }


            
        }
    }
}


