/*seccion clases*/


.clases {
    @include seccion (65px, center);
    padding-bottom: 30px;

    h2 {
        @extend %titulos;
    }

    .cards_wraper {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        
    }

    h3 {
        color: $main-color;
        padding-top: 30px;
        padding-bottom: 40px;
    }

}

.card {
    width: 1fr;
    border-color: $main-color;
    transition: all 0.5s ease;

    &:hover{
        @include card-hover (scale(1.1), 2);
        
        
    } 
}

