/*seccion clases*/


.clases {
    padding-top: 65px;
    text-align: center;

    h2 {
        text-align: center;
        padding-bottom: 20px;
    }

    .cards_wraper {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        
    }
}

.card {
    width: 1fr;
    border-color: $main-color;
    transition: all 0.5s ease;

    &:hover{
        transform: scale(1.1);
        z-index: 2;
    } 
}


