/* barra de navegacion bootstrap modificada*/

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;

    & img {
        height: 35px;
    }


    .nav-item {
        padding-left: 20px;
    }


    .nav-link {
        color: $main-color;
        border-radius: 40%;
        transition: all 1s ease;
        font-weight: 100;
    
        &:hover {
                color: black;
                background-color: $main-color;
        }
    }

    .custom-toggler {
        border-color: $main-color;
    }

}
