@media  screen and (max-width:640px) {
    .nav-link:hover {
        color: white;
        background-color: transparent;
    }
    .navbar {
        background-color: $sec-color;}
    
}



@media screen and (max-width:640px) {

    .carrusel_img {
        padding-top: 60px;

        .carousel {

            .carru {

                .carru_text {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding-top: 0;
            
                    .texto {
                        font-size: 30px;
                    }
                }
            }
        }

     }
      
}


@media screen and (max-width:640px) {
    #clase-prueba {
        width: 100vw;
        margin-bottom: 10px;
        height: auto;

        #logo-big {
            height: 350px;
        
        }

        .clase-gratis {
            height: 200px;

            .inscrip {
                height: auto;
            }
        }
    }
}

@media screen and (max-width:640px) {
    .merch {
       display: block;
    }
}


@media screen and (max-width:640px) {
    .tarjeta:not(:first-child) {
        display: none;
    }
}

@media screen and (max-width:640px) {
    .sedes iframe {
        max-width: 350px;

        .noti {
            width: 100%;
        }
    }
}

@media screen and (max-width:480px) {
    .sedes iframe {
        max-width: 300px;

        .noti {
            width: 100%;
        }
    }
}


@media screen and (max-width:640px) {

    .nosotros {
        .clase-prueba {
            width: 100vw;
            margin-bottom: 10px;
            height: auto;
        }
    }


    
    .nosotros iframe {
        max-width: 400px;
    }
 
}