/*seccion nosotros*/

.nosotros {
    padding-top: 60px;
    width: 100%;
}

.nosotros h2 {
    text-align: center;
    font-size: 30px;
    padding: 20px 0px;
    width: 100%;
}

.nosotros img {
    height: 200px;
    margin: 30px;

}
.nosotros h3 {
    padding: 30px;
}

.nosotros iframe {
    margin-bottom: 40px;
}

.somos { 
    text-align: center;
    padding: 40px;
}

@media screen and (max-width:640px) {
    .nosotros iframe {
        max-width: 400px;
    }
}