/*seccion nosotros*/

.nosotros {
    padding-top: 65px;
    text-align: center;

    h2 {
        text-align: center;
        font-size: 30px;
        padding: 10px 0px;
        width: 100%;
    }

    .clase-prueba {
        margin: 30px auto;

        .logo-big{
            background-image: url(/multimedia/img/instalaciones-01.jpg);

            h3 {
                color: $main-color;
                font-size: 85px;
                text-align: left;
                padding: 30px;
                font-weight: 300;

            }
        }

        .clase-gratis {
            display: flex;
            justify-content: center;

            h3 {
                font-size: xx-large;
            }

            p {
                padding: 35px;
            }
        }
    }

    .somos {
        margin: 30px auto;
        iframe {
            padding: 40px;
            height: 315px;
        }
    }

    .valores {
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        padding: 40px;

        .valores-item {
            border: 1px solid $main-color;
            width: 1fr;
            height: auto;

            h4 {
                padding: 10px;
            }

            p {
                text-align: left;
            }
        }
    }
}
