/* seccion de promos*/

.promos {
    @include seccion (65px, center);

    h2 {
        @extend %titulos;
    }

    .card{
        margin: 5px;

        .img {
            padding: 20px;
            font-weight: bold;
        }  

        .card-body {
            text-align: center;   

            .card-title {
                font-weight: bold;
            }
        }
    }

    h3 {
        text-align: map-get($subtitulos, subt-align);
        color: map-get($subtitulos, subt-color);
        padding: map-get($subtitulos, subt-pdng);
    }
}









