/*seccion de sedes*/

.sedes {
    @include seccion (65px, center);

    h2 {
        @extend %titulos;
        padding-top:20px;
        width: 100%;
    }

    iframe {
        height: 300px;
        width: 400px;
    }

    .mb-3{
        .card-body {
            .card-text {
                padding: 30px;
                text-align: left;
            }
        }
    }

    .noti {
        height: 100%;
        pointer-events: none;

        .card-body {
            height: 100%;

            .card-title {
                padding: 0px 20px;
                &:hover {
                }
            }

            .card-text {
                padding: 15px 20px;
                text-align: left;
            }
        }
    }

   
}
