/*seccion de sedes*/

.sedes {
    padding-top: 60px;
    text-align: center;

    h2 {
        @extend %titulos;
        padding-top:20px;
        width: 100%;
    }

    iframe {
        height: 300px;
        width: 400px;
    }
}
