%titulos {
    text-align: center;
    padding-bottom: 20px;
}

%foot-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

%foot-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}